  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  html {
    font-family: TestFont, sans-serif, Arial, Helvetica;
    direction: rtl;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.8;
  }

  body {
    /*background-color: #f3f3f3;*/
    background-color: #efefef;
    color: #424242;
    min-width: 640px;
  }

        #main-container{
          
        }

  .center {
    height: auto;
    width: 980px;
    margin: auto;
    text-align: left;
    padding: 0px;
}