*,
:after,
:before {
  box-sizing: inherit
}

svg:not(:root) {
  overflow: hidden
}

a {
  text-decoration: none
}

html {
  font-family: behdadweb, sans-serif, Arial, Helvetica;
  direction: rtl;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.8
}

body {
  background-color: #e9ebec;
  color: #484848;
  min-width: 640px
}

.main-container {
  display: flex;
  flex-direction: column
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex
}

/* Header */
header {
  display: flex;
  position: relative;
  margin-bottom: 0;
}

header .container {
  padding: 15px 30px;
  padding-bottom: 10px;
}

header .ffslogo-image,
header .ffslogo-title,
header .navbar {
  display: flex;
  position: relative;
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.ffslogo-image img {
  width: 60px;
  position: relative;
  display: block;
}

.ffslogo-title svg {
  width: 120px;
  position: relative;
  margin-left: 100px;
  margin-right: 10px;
  display: block;
}

.ffslogo-title span {
  font-size: 12px;
  margin-right: 25px;
}

.ffslogo-title {
  flex: 0 1 200px;
  flex-direction: column;
  align-self: center;
}

.text-logo {
  fill: #FF2434;
}

#ffs-section {
  fill: #484848;
}

/* navigation */
header .navbox {
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
}

.top-menu {
  display: inline-flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0 20px;
}

.top-menu li a {
  display: block;
  color: #464646;
  padding: 0 10px;
  font-size: 15px;
}

.top-menu li a:hover {
  color: #f1326a;
}

/* Footer */
footer {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  color: #bdbdbd;
}

footer .container {
  flex-direction: column;
}

footer h3 {
  font-family: LalezarWeb;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
  color: #e9ebec;
}

.top-footer {
  border-radius: 10px 10px 0 0;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  background-color: #222;
  border-top: 1px solid #404040;
  flex: 1 1 auto
}

.top-footer .col {
  flex: 1 1 0;
  padding: 0 25px
}

.top-footer .col .list-item {
  margin: 0;
  padding: 0;
  padding-right: 23px
}

.top-footer .col .list-item li {
  margin: 5px 0
}

.top-footer .about-font-store {
  flex: 1.5
}

.top-footer a,
.top-footer p {
  font-family: BehdadWeb;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  text-align: justify;
  color: #bdbdbd;
  display: block;
  padding-bottom: 5px
}

.about-font-store p {
  margin-right: 10px
}

.top-footer a:hover,
a:hover i {
  color: #f0326b
}

.top-footer .fontStore-social-icon {
  margin-right: 10px
}

.top-footer .fontStore-social-icon a {
  color: #bdbdbd;
  font-size: 18px;
  margin: 0 5px;
  display: inline-block
}

.footer-bottom {
  background-color: #1b1b1b;
  border-top: 1px solid #2c2c2c;
  flex: 1 1 auto;
  text-align: center;
  padding: 10px
}

.footer-bottom a {
  color: #f0326b
}

.footer-bottom h5,
.footer-bottom h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1.4;
  font-family: GanjNamehSans;
  font-size: 10px;
  color: #888
}

.contents-module {
  width: 960px;
  margin: 45px auto;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column
}

.contents-module-caption {
  text-align: center;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 99
}

.contents-module-caption h2 {
  background: #f66025;
  text-shadow: 1px 1px 3px #1b1b1b;
  color: #fff;
  margin: 0;
  padding: 5px 35px;
  border-radius: 50px;
  line-height: 1.2;
  font-family: LalezarWeb;
  font-weight: 400;
  font-size: 26px
}

.contents-module-wrapper {
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background: #fff;
  display: flex;
  flex: 1 1 auto;
  border-radius: 10px 10px;
  flex-direction: column;
  align-items: stretch;
  min-height: 300px
}

.super-cover {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  display: flex;
  background-color: #1f2532;
  height: 500px
}

.video-cover {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  display: flex;
  height: 280px
}

.video-cover-bg {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #1b1b1b
}

.video-cover-bg-overly {
  z-index: 2;
  position: absolute;
  display: block;
  width: 100%;
  height: 280px;
  background-color: #1f2532;
  opacity: .7
}

.video-cover-overly {
  z-index: 3;
  position: absolute;
  display: flex;
  width: 100%;
  height: 280px
}

.photo-cover {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  display: flex;
  height: 260px
}

.photo-cover-bg {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #1b1b1b
}

.photo-cover-bg-overly {
  z-index: 2;
  position: absolute;
  display: block;
  width: 100%;
  height: 260px;
  background-color: #1f2532;
  opacity: .85
}

.photo-cover-text {
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 260px;
  align-items: center;
  justify-content: center
}

.photo-cover-text>* {
  text-shadow: 1px 1px 0 #000;
  margin: 0;
  font-family: LalezarWeb;
  font-size: 30px;
  color: #fff
}

.content-text {
  padding: 70px 0
}

.content-text h4 {
  font-family: LalezarWeb;
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 20px
}

.content-text h4,
.content-text p,
.content-text ul {
  width: 760px;
  margin: 0 auto;
  display: block;
}

.content-text ul {
  padding-right: 155px;
  font-size: 16px;
  line-height: 2
}

.content-text p {
 
  font-size: 16px;
  line-height: 2.0;
}

.content-text .owl-carousel {
  padding: 50px 0
}

.content-text p+p {
  margin-top: 16px
}

.useablity-slider-item {
  width: 400px;
  margin: 10px auto;
  display: block;
  overflow: hidden;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px #bab7b7
}

.useablity-slider-item .credit {
  text-align: center;
  display: block;
  background: #222;
  overflow: hidden;
  border-top: 1px solid #888
}

.useablity-slider-item .credit a,
.useablity-slider-item .credit span {
  padding: 5px;
  font-family: GanjNamehSans, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #bbb;
  line-height: 1
}

.useablity-slider-item video.labnol {
  display: block
}

.useablity-slider-item image.labnol,
.useablity-slider-item video.labnol {
  height: auto !important;
  width: 100%
}

#donated {
  margin: 0 50px;
  display: flex;
  flex-wrap: wrap
}

#donated .user-donated {
  padding: 10px 10px;
  flex: 1 1 90px;
  text-align: center;
  display: block;
  position: relative
}

#donated .user-donated img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
  border: 2px solid #555
}

#donated .user-donated .name {
  color: #1b1b1b;
  padding: 5px 0;
  line-height: 1
}

#donated a.user-donated:hover {
  background-color: #eee
}

#donated .user-donated .userIsLove {
  position: absolute;
  top: 0;
  font-size: 20px;
  color: #f1326a;
  text-shadow: 1px 1px 2px #000
}

.main-slider {
  margin: 10px auto;
  width: 90% !important;
  padding: 0
}

#FontDiff .main-slider p {
  font-family: LalezarWeb;
  font-weight: 400;
  font-size: 26px;
  margin: 0;
  text-align: center;
  line-height: 1.3;
  color: #b73317
}

#FontDiff .alternative-demo {
  display: block;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 0
}

#FontDiff .varilabel-demo {
  width: 500px;
  display: flex;
  margin: 0 auto;
  flex-direction: column
}

#FontDiff .varilabel-demo>div {
  flex: 1
}

#FontDiff .varilabel-demo img {
  margin: 10px auto;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 4px 0 #aaa;
  width: 500px;
  border-radius: 4px
}


/* FontAbout Section */
#FontAbout .content-video{
  margin: 50px auto;
  width: 760px;
  display: block;
}
.desinger-avator{
  width: 300px;
  margin: 0 auto;
}

.desinger-avator .desinger-image{
  text-align: center;
  display: block;
}
.desinger-avator .desinger-image img{
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: 1px 1px 4px 0px #999;
}

.desinger-avator .desinger-caption{
  display: block;
}